@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: inherit;
  box-sizing: border-box;
}

/* .answer a {
  text-decoration: underline;
}

.answer a:hover {
  opacity: 50%;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
} */
