@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  letter-spacing: -0.001ch;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-skip-ink: none;
}

@layer base {
  :root {
    --gradient-color-1: #ffc814;
    --gradient-color-2: #ff185d;
    --gradient-color-3: #1e7fff;

    --featured-0: #d1dced;
    --featured-1: #cff0ef;
    --featured-2: #dfe59a;
    --featured-3: #f2d0d0;
    --featured-hover-0: #c3d4ef;
    --featured-hover-1: #b9ecea;
    --featured-hover-2: #dee77c;
    --featured-hover-3: #f0c2c2;
  }
}

@layer utilities {
  /* .text-gradient {
    background-image: linear-gradient(
      to right,
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-3)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  } */
}

/* Answer */

.answer a {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  font-weight: 500;
}

.featured-answer a {
  text-decoration-thickness: 2.5px;
  text-underline-offset: 4px;
}

.answer a:hover {
  opacity: 40%;
  text-decoration: none;
}

.answer p:not(:last-child) {
  margin-bottom: 24px;
}

/* Lists */
.answer ul li {
  position: relative;
  padding: 0px 0px 0px 20px;
}

.answer ul:not(:last-child) {
  margin-bottom: 24px;
}

/* Margin between List and P after*/
.answer ul + p {
  margin-top: 28px;
}

/* Headers for h6, h5 */
.answer h6:has(+ ul),
.answer h5:has(+ ul) {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.5px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.answer h6:has(+ ul) {
  margin-bottom: 8px;
}

.answer h5:has(+ ul) {
  margin-bottom: 10px;
}

/* Margin between li in lists */
.answer ul li:not(:last-child),
.answer h6 + ul li:not(:last-child) {
  margin-bottom: 1px;
}

.answer h5 + ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* Bullet Point */
.answer ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100%;
  top: 6.2px;
  left: 2px;
  z-index: 2;
}

/* Desktop */
@media (min-width: 640px) {
  .answer ul li {
    padding: 0px 0px 0px 32px;
  }

  .answer ul li::before {
    width: 14px;
    height: 14px;
    top: 11px;
  }

  .answer a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  /* Featured */
  .featured-answer a {
    text-decoration-thickness: 2.5px;
    text-underline-offset: 7px;
  }
}
