@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0.02ch;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-skip-ink: none;
}

a:hover {
  text-decoration: none;
}

@layer base {
  :root {
    --background: #e8e8e8;
    --linkedin: #0077b7;

    --featured-0: #d1dced;
    --featured-hover-0: #c3d4ef;
    --featured-1: #d8d2f4;
    --featured-hover-1: #cdc5f1;
    --featured-2: #dfe59a;
    --featured-hover-2: #dee77c;
    --featured-3: #f2d0d0;
    --featured-hover-3: #f0c2c2;
    --featured-4: #bec6b5;
    --featured-hover-4: #abb89c;
    --featured-5: #bdcfdb;
    --featured-hover-5: #a9beca;
    --featured-6: #c9b3c8;
    --featured-hover-6: #b5a0b4;
    --featured-7: #f4db78;
    --featured-hover-7: rgb(236, 208, 97);
  }
}

.hero-accent {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3.5px;
}

/* Answer */

.answer a {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2.2px;
}

.answer em {
  font-style: normal;
  font-family: var(--font-accent);
  font-size: 117%;
  line-height: 70%;
  font-weight: 400;
  letter-spacing: -0.04ch;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1.5px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.featured-answer em {
  font-style: normal;
  /* font-family: var(--font-accent);
  font-size: 117%; */
  /* font-weight: 400; */
  /* letter-spacing: -0.04ch; */

  /* text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px; */
}

.featured-answer a {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.answer a:hover {
  opacity: 30%;
  text-decoration: none;
}

.answer p:not(:last-child) {
  margin-bottom: 24px;
}

/* Lists */
.answer ul li {
  position: relative;
  padding: 0px 0px 0px 20px;
}

.answer ul:not(:last-child) {
  margin-bottom: 24px;
}

/* Margin between List and P after*/
.answer ul + p {
  margin-top: 28px;
}

/* Headers for h6, h5 */
.answer h6:has(+ ul),
.answer h5:has(+ ul),
.answer h6 {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.answer h6:has(+ ul) {
  margin-bottom: 6px;
}

.answer h5:has(+ ul) {
  margin-bottom: 6px;
}

/* Margin between li in lists */
/* .answer ul li:not(:last-child),
.answer h6 + ul li:not(:last-child) {
  margin-bottom: 2px;
} */

.answer h5 + ul li:not(:last-child) {
  margin-bottom: 8px;
}

/* Bullet Point */
.answer ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 100%;
  top: 9px;
  left: 2px;
  z-index: 2;
}

/* Desktop */
@media (min-width: 640px) {
  .answer ul:not(:last-child) {
    margin-bottom: 32px;
  }

  .answer p:not(:last-child) {
    margin-bottom: 32px;
  }

  /* Bullet point */
  .answer ul li {
    padding: 0px 0px 0px 26px;
  }

  .answer ul li::before {
    width: 10px;
    height: 10px;
    top: 14px;
  }
  /**/

  .answer a {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  /* Featured */
  .featured-answer a {
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
  }

  /* Dotted underline */
  .answer h6:has(+ ul),
  .answer h5:has(+ ul),
  .answer h6,
  .answer em {
    text-underline-offset: 4px;
  }

  /* .featured-answer em, */
  .hero-accent {
    text-decoration-thickness: 5px;
    text-underline-offset: 6px;
  }
}

/* Featured Cards */
.featured-card {
  transition: background-color 0.2s ease;
}

.featured-card-0 {
  background-color: var(--featured-0);

  &:hover {
    background-color: var(--featured-hover-0);
  }
}

.featured-card-1 {
  background-color: var(--featured-1);

  &:hover {
    background-color: var(--featured-hover-1);
  }
}

.featured-card-2 {
  background-color: var(--featured-2);

  &:hover {
    background-color: var(--featured-hover-2);
  }
}

.featured-card-3 {
  background-color: var(--featured-3);

  &:hover {
    background-color: var(--featured-hover-3);
  }
}

.featured-card-4 {
  background-color: var(--featured-4);

  &:hover {
    background-color: var(--featured-hover-4);
  }
}

.featured-card-5 {
  background-color: var(--featured-5);

  &:hover {
    background-color: var(--featured-hover-5);
  }
}

.featured-card-6 {
  background-color: var(--featured-6);

  &:hover {
    background-color: var(--featured-hover-6);
  }
}

.featured-card-7 {
  background-color: var(--featured-7);

  &:hover {
    background-color: var(--featured-hover-7);
  }
}
/* */
